
.wd-qnt {
  width: 80px;
}

.wd-datetimepicker {
  width: 150px;
}

.wd-datepicker {
  width: 140px;
}

.wd-date {
  width: 85px;
}

.wd-datetime {
  width: 120px;
}

.wd-timepicker {
  width: 100px;
}

.wd-select {
  width: 200px;
}
.wd-preco{
  width: 110px;
}

.wd-cod {
  width: 55px;
}

.wd-cpf {
  width: 160px;
}

.wd-email {
  width: 200px;
}

.wd-delete {
  width: 100px;
}

.wd-cnpj {
  width: 160px;
}

.wd-select-cliente {
  width: 500px;
}

.wd-td-quantidade {
  width: 50px;
}

.wd-filtro {
  width: 200px;
}