body {
    font-family: "Segoe UI","Helvetica Neue",Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.input_formulario{
    display: inline-block;
}

.input_formulario label{
    display: block;
}

.input_formulario input{
    width: 450px;
}