
.artico-footer {
  background: url('#{$path_img}/icons/artico220x50.png') no-repeat center;
  width: 220px;
  height: 50px;
  display: block;
  background-size: 90%;
  left: 50%;
  position: absolute;
  margin-left: -110px;
  top: 80px;
}